<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Alchemy Software | Cloud C&F</title>

    <!-- stylesheets -->
    <link href="~/Content/homeDesign/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/homeDesign/css/style.css" rel="stylesheet" />
    <!-- end stylesheets -->
    <!-- js libray -->
    <script src="~/Content/homeDesign/js/jquery-2.1.3.js"></script>
</head>
<body>

    <!--header start-->
    <header>
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2" id="logo">
                            <!-- <a href="index.php"><img src="images/logo.png" alt="rs" /></a> -->
                            <a href="../Home/"><h1>Cloud C&F</h1></a>
                        </div>
                        <!--left menu-->
                        <div class="col-md-6 col-xs-12 animated fadeIn" id="leftMenu">
                            <ul>
                                <li><a href="../Home/">Home</a></li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li class="active">@Html.ActionLink("Faq", "Faq", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <!--<li> <a href="#" style="padding: 13px;"><img src="images/facebook.png" alt="facebook"></a></li>-->

                            </ul>
                        </div>
                        <!--end left menu-->
                        <!--menu right-->
                        <div class="col-md-4 col-xs-10 pull-right text-left" id="rightMenu">
                            <ul>

                                <li><a href="../Login/"> Login</a></li>
                                <li>
                                    <a href="https://www.facebook.com/AlchemySoftware" target="_blank"> <i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/alchemybd" target="_blank"> <i class="fa fa-twitter"></i></a>
                                    <a href="https://plus.google.com/100639053145643474788" target="_blank"> <i class="fa fa-google-plus"></i></a>
                                </li>
                                <!-- <li>
                                    <a href="#" class=""> <i class="fa fa-facebook"></i></a>
                                    <a href="#" class=""> <i class="fa fa-twitter"></i></a>
                                    <a href="#" class=""> <i class="fa fa-google-plus"></i></a>
                                </li> -->
                                <!-- <li><a href="contact.php" class="">Request for DEMO : +88 01988 844 987</a></li> -->
                            </ul>
                        </div>
                        <!--end menu right-->
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!--header end-->
    <!-- header theme section start -->
    <section class="headerThemeSection row-fluid animated fadeIn">
        <div id="subHeader">
            <h2>FAQ</h2>
        </div>
    </section>
    <!-- header theme section end -->

    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">

                        <hr>
                        <h4><b>Q: How can we get your C&F Management software & its service?</b></h4>
                        <p>You can do it very simply</p>
                        <p><strong>1st Step</strong> contact us for details information (Phone call, via mail, feedback in web site) n </p>
                        <p><strong>2nd Step</strong> Our authorized representative will contact you and answer all your quarries till satisfaction and submit offer with terms & conditions </p>
                        <p><strong>3rd Step</strong> Confirm payment and get schedule for training</p>
                        <p><strong>4th step</strong> Training team will take responsibility till implementation of your desired software. </p>
                        <br>

                        <h4><b>Q: Can I buy only C&F Billing & Party Management?</b></h4>
                        <p>Yes you can buy only it and pay only for that portion. </p>
                        <br/>
                        <h4><b>Q: If I want to buy C&F Accounts Management after few days of purchasing Billing & Party Management, will I have to pay excess price?</b></h4>
                        <p>No you can buy both portions at a time or separately any time you want. Both portions price is fixed and will never charge excess for that.   </p>
                        <br/>

                        <h4><b>Q: What service I will get regarding your software?</b></h4>
                        <p>You will get following service -</p>

                        <p>a)	<strong>Software License- </strong> We will provide you Software user license (partial/ or full) as you purchase </p>
                        <p>b)	<strong>Monthly Maintenance fee: </strong>  To continue you day to day service we will provide you following service as a package:</p>
                        <div id="serviceList">
                            <p><i class="fa fa-check-circle-o"></i> Free server maintenance</p>
                            <p><i class="fa fa-check-circle-o"></i> Free site maintenance </p>
                            <p><i class="fa fa-check-circle-o"></i> Database tuning  </p>
                            <p><i class="fa fa-check-circle-o"></i> Unlimited space for data  </p>
                            <p><i class="fa fa-check-circle-o"></i> 10AM-7PM x 6 days support (both remote and physical as required) except govt. holidays</p>
                            <p><i class="fa fa-check-circle-o"></i> Unlimited training  </p>
                            <p><i class="fa fa-check-circle-o"></i> No data back up related responsibility  </p>
                            <p><i class="fa fa-check-circle-o"></i> Lifetime up gradation  </p>
                            <p><i class="fa fa-check-circle-o"></i> On site (client premises) customer support for major issue</p>
                           
                        </div>
                        <br>
                        <h4><b>Q: Are there any costs other than licensing?</b></h4>
                        <p>Yes, there is minimum charge applicable because we can not provide you free service life time. Don’t worry, our respective team will clarify everything face to face and also mention in details in our offer letter submitted to you. </p>
                        <br>
                        <h4><b>Q: How do I learn to use Alchemy C&F Management (ACM) software?</b></h4>
                        <p>Alchemy Software has a dedicated team of Professional trainer who will train you on site or off site as you need. They will provide you in depth training to your work force so that they can operate it smoothly.</p>
                        <br>
                        <h4><b>Q: Is a long-term contract required to use our service?</b></h4>
                        <p>No. You can stop taking our service any time for any reason by giving us 30 day’s prior notice. This is a automated service and it will close after expiry of 30days automatically.</p>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!--footer part-->
    <footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Developed By : <a href="http://www.alchemy-bd.com" target="_blank">Alchemy Software</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!--end footer part-->
    <a href="#" id="backToTop"><i data-toggle="tooltip" data-placement="top" title="Go to top" class="fa  fa-chevron-circle-up fa-2x"></i></a>
    <!-- other scripts -->
    <script src="~/Content/homeDesign/js/bootstrap.min.js"></script>


    <script src="~/Content/homeDesign/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/homeDesign/js/functions.js"></script>
    <script src="~/Content/homeDesign/js/jquery.cookie.js"></script>
    <!-- end other scripts -->
</body>
</html>